// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

* {
  font-family: "nta", Arial, sans-serif;
}


.clear {
  clear: both;
}

a:visited {
  color: $govuk-link-colour;
}


.dwp-header {
  background-color: govuk-colour("black");
  margin: 0;
  a {
    color: govuk-colour("white");
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    @extend %govuk-heading-m;
    padding: 13px 0 12px 0;
    margin-bottom: 0;
    @include govuk-media-query($from: tablet) {
      padding: 13px 0 10px 0;
    }
  }
}



.dwp-key-details-bar {
  background-color: govuk-colour("blue");
  width: 100%;
}

.applicant-list {
  list-style: none;
  padding: 0;
  li {
    
    // margin: 0;
    // padding: 0;
  }
  h3 {
    font-weight: normal;
    display: inline;
    @include govuk-media-query($from: tablet) {
      display: block;
      float: left;
      clear: both;
      width: 30%;
      padding: 0;
      margin: 0;
    }
  }
  p {
    display: inline;
    color: govuk-colour("grey-1");
    margin-bottom: govuk-spacing(1);
    @include govuk-media-query($from: mobile) {
      // background-color: red;
      display: block;
      float: left;
      width: 35%;
      text-align: left;
      // padding: 0;
      // 
    } 
  }
}

/* =============================================================================
    BIG BLUE HEADERS
 =============================================================================== */

.hero-header {
  overflow-x: hidden;
  // background-color: red !important;
  .dwp-header {
    margin-bottom: 0;
  }
}

.highlight {
  display: inline;
  background-color: #fde593;
  color: govuk-colour("black");
  padding: 5px;
}

a .highlight {
  text-decoration: none;
}

.hero-header {

  .govuk-main-wrapper {
    padding: 0;
  }
  .govuk-hero {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    margin-bottom: 40px;
    padding: govuk-spacing(2) 0;
    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(4) 0;
    }
    .govuk-heading-l, p {
      color: govuk-colour("white");
    }
    .govuk-heading-l {
      display: inline;
      padding-right: 10px;
    }
    .nino {
      display: inline;
      padding-right: 10px;
    }
    .highlight {
      color: govuk-colour("black");
    }
    
    p {
      margin-bottom: 0;
    }
  }

  hr {
    margin: govuk-spacing(2) 0;
    border: none;
    border-top: 1px solid govuk-colour("white");
    opacity: 0.5;
    padding-bottom: govuk-spacing(1);
    margin-top: govuk-spacing(2);
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
  }

  .full-width-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    @include govuk-media-query($from: tablet) {
      padding: 0 30px;
    }
  }

}

/////////////////////////////////
// Tables
/////////////////////////////////

 thead th {
  padding: 0;
 }

 table {
  margin-bottom: 0 !important;
 }

table {
  th, td {
    // @include copy-16;
    padding: 7px;
    vertical-align: top;

  }
  td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  th {
    font-weight: bold;
  }
  tbody tr {
  }
  a {
    display: block;
    text-decoration: none;
    // font-weight: bold;
  }
  .table-link {
    text-decoration: underline;
  }
  .highlight {
    margin-left: 10px;
    @extend %govuk-body-s;
  }
}

// Sortable table styles

th.right,
td.right {
  text-align: right;
  padding-right: 2%;
}

th.right.padding-right {
  padding-right: 25px;
}

tr.table-header-sortable th {
  cursor: pointer;
  padding-right: 0;
  &:hover {
    text-decoration: underline;
    // color: $link-hover-colour;
  }
  span {
    padding-right: 14px;
    background-repeat: no-repeat;
    background-position: right 6px;
  }
}

.sorting_asc span {
  background-image: url(/public/images/icons/arrow-small-up-blue.svg);
}

.sorting_desc span {
  background-image: url(/public/images/icons/arrow-small-down-blue.svg);
  background-position: right 7px;
}

// Fixed header table styles

.fixedHeader-floating {
  position: fixed;
  background-color: govuk-colour("white");
} 

.fixedHeader-floating th {
  border-bottom: 2px solid govuk-colour("grey-2");
}

// Horizontal scrollable tables

.table-scrollable-wrapper {
  // overflow: auto;
  position: relative;
  clear: both;
  .table-scrollable {
    min-width: 550px;
    overflow: auto;
  }

}

// /////////////////////////////////
// // FILTERS
// /////////////////////////////////

.filters {
  clear: both;
  margin-bottom: 20px;
  width: 60%;
  float: left;
  font-size: 19px;
  line-height: 25px;
  padding-top: 20px;
  h3 {
    display: inline-block;
    margin-right: 5px;
    font-size: 19px;
    line-height: 25px;
    font-weight: normal;
  }
  ul {
    display: inline-block;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  // select {
  //   font-size: 14px;
  //   list-style: 20px;
  //   background-color: white;
  // }
}

.dataTables_filter {
  position: absolute;
  right: 0;
  width: 200px;
  float: right;
  top: -72px;
  z-index: 9999;
  label {
    position: relative;
    display: block;
    input {
      position: absolute;
      right: 0;
      font-size: 16px;
      padding: 5px;
      width: 300px;
      border: 2px solid govuk-colour("black");
      padding: 6px 5px 4px 5px;
      font-size: 19px;
      line-height: 25px;
    }
  }
}

::-webkit-input-placeholder {
  color: govuk-colour("grey-1");
}

.govuk-button.secondary {
  background-color: govuk-colour("grey-3");
  color: govuk-colour("black");
  box-shadow: 0 2px 0 #666;
}

// Sticky sidebar

.sticky-sidebar__inner{
  box-sizing: border-box;
  position: relative;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}


// Statuses

.status-new {
  border-color: govuk-colour("grey-1");
  h3 {
    color: govuk-colour("grey-1");
    text-transform: uppercase;
  }
}

.status-verified {
  border-color: govuk-colour("bright-purple");
  h3 {
    color: govuk-colour("bright-purple");
    text-transform: uppercase;
  }
}

.status-processed {
  border-color: govuk-colour("green");
  h3 {
    color: govuk-colour("green");
    text-transform: uppercase;
  }
}









