
{% extends "layout_staff.html" %}

{% block pageTitle %}
  Find an applicant - Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-m">Special rules</h2>
    <p>If you see an email for someone on this list, please treat their appointment as a priority and see if they’d like a home visit.</p>

    <ul class="applicant-list">
      <li>
        <h3>Fred Flinstone</h3>
        <p>applied 10 days ago</p>
      </li>
      <li>
        <h3>Barney Rubble</h3>
        <p>applied 9 days ago</p>
      </li>
      <li>
        <h3>Daffy Duck</h3>
        <p>applied 8 days ago</p>
      </li>
      <li>
        <h3>Clark Kent</h3>
        <p>applied 7 days ago</p>
      </li>
      <li>
        <h3>Lois Lane</h3>
        <p>applied 6 days ago</p>
      </li>
      <li>
        <h3>Lex Luther</h3>
        <p>applied today</p>
      </li>
    </ul>
    
  </div>{# /govuk-grid-column-one-half #}

  <div class="govuk-grid-column-one-half">

  </div>{# /govuk-grid-column-one-half #}

</div>{# /govuk-grid-row #}

{% endblock %}
