
{% extends "layout_staff.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">Find an applicant</h1>
    <form action="nino-search" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Applicant&rsquo;s name or National Insurance number
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text">
      </div>
      <a href="applicant" class="govuk-button">Go</a>
      <p><a href="#">View all applications</a></p>
    </form>
  </div>{# /govuk-grid-column-one-half #}

  <div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-m">Applicants who are terminally ill</h2>
    <p>If you see an email for someone on this list, process it as a priority.</p>

    <ul class="applicant-list">
      <li>
        <h3><a href="#">Fred Flinstone</a></h3>
        <p>applied 10 days ago</p>
      </li>
      <li>
        <h3><a href="#">Barney Rubble</a></h3>
        <p>applied 9 days ago</p>
      </li>
      <li>
        <h3><a href="#">Daffy Duck</a></h3>
        <p>applied 8 days ago</p>
      </li>
      <li>
        <h3><a href="#">Clark Kent</a></h3>
        <p>applied 7 days ago</p>
      </li>
      <li>
        <h3><a href="#">Louis Lane</a></h3>
        <p>applied 6 days ago</p>
      </li>
      <li>
        <h3><a href="#">Lex Luther</a></h3>
        <p>applied today</p>
      </li>
    </ul>
    
  </div>{# /govuk-grid-column-one-half #}

</div>{# /govuk-grid-row #}

{% endblock %}
